.container, .modal-container, .container-errors {
    max-width: 700px;
    margin: 0 auto;
}
.container {
    position: relative;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 0;
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enable {
    background: url("../img/favorite.enable.png") no-repeat;
}

.disable {
    background: url("../img/favorite.disable.png") no-repeat;
}

/* Контакт не найден */
.empty {
    position: absolute;
    top: 162px;
    left: 33px;
    font-weight: 600;
}
.block__none {
    margin: 20px;
}

.alert {
    display: none;
}
/* Имя контакта */
.block__about {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

/* Поиск контактов */
.block-search {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.block__img {
    width: 30px;
    margin-right: 20px;
    border-radius: 4px;
}

.input-group {
    width: 300px;
}

.form-control {
    padding: 10px;
}

/* Лист добавления контактов */

.block-contacts {
    flex-direction: column;
    align-items: stretch;
}

.block__item {
    justify-content: flex-start;
    padding: 10px 10px 0;
}

.dagger, .favorite {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
}

.dagger {
    background: url("../img/dagger.svg") no-repeat;
    margin-bottom: 20px;
}

.user {
    width: 30px;
    margin-right: 20px;
}

.block__elem {
    margin-left: 30px;
    flex-direction: column;
}

/* кнопка добавить */

.block__add {
    width: 100%;
    margin-top: 100px;
}

.show {
    display:block
}

.hide {
    display:none
}

/* Если получилось добавить */

.modal__dialog {
    max-width:500px;
    margin:40px auto
}
.modal__content {
    position:relative;
    width:100%;
    padding:40px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:4px;
    max-height:80vh;
    overflow-y:auto
}

.modal__title {
    text-align:center;
    font-size:22px;
    text-transform:uppercase
}

.favorites {
    margin-bottom: 40px;
}
